<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Statics</title>
</head>
  <body>
    <header>
        <h1>Vk.com Statics</h1>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        <h2>Activity</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">#</th>
              <th scope="col">Name of activity</th>
              <th scope="col">Number of activity</th>
            </tr>
          </thead>
          <tbody>
            {% for item in activity[0]%}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{item}}</td>
                  <td>{{activity[0][item]}}</td>
                </tr>
            {%endfor%}
          </tbody>
        </table>
        <h2>Age</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Age</th>
                <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
            {% for item in age%}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{item['value']}}</td>
                  <td>{{item['count']}}</td>
                </tr>
            {%endfor%}
          </tbody>
        </table>

        <h2>Cities</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">City</th>
                <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cities%}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{item['name']}}</td>
                  <td>{{item['count']}}</td>
                </tr>
            {%endfor%}
          </tbody>
        </table>


        <h2>Countries</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Count</th>
                <th scope="col">Code</th>
            </tr>
          </thead>
          <tbody>
            {% for item in countries%}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{item['name']}}</td>
                  <td>{{item['count']}}</td>
                    <td>{{item['code']}}</td>
                </tr>
            {%endfor%}
          </tbody>
        </table>

        <h2>Sex</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sex</th>
                <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
            {% for item in sex%}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{item['value']}}</td>
                  <td>{{item['count']}}</td>
                </tr>
            {%endfor%}
          </tbody>
        </table>
    </main>
  </body>
</html>